.searchBox
{
  /* margin: 3px;
  margin-right: 4px;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: #d0dce9;
  border-radius: 10px; */
  margin-top: 0.7rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: #003367;
    color: white;
    margin-left:0.3rem;
    margin-right:0.3rem;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #b0b3b7;
    opacity: 1;
}