<div style="background-color:#003366; margin-bottom: 30px;" class="fade-in">
    <a routerLink="/">
        <img src="assets/images/philliplife.png" style="background-color: #003366; margin-left:10%" width="150px;" />
    </a>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="text-danger text-center">
              <img src="assets/images/warning.gif" style="width:80px;" class="mt-5 mb-5">
              <h4 class="mb-5">
                <span class="text-danger">
                  Error 404 Page not found
                </span>
              </h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>