<div style="margin-top: 70px;">
  <footer class="footer">
    <div class="container">
      <span class="text-muted">
        <span class="fa fa-desktop"></span> {{ appCode }} v.{{ appVersion}}
        | {{ng_version}}
        | Copyright &copy; 2021 by
        <a href="http://www.philliplife.com">Phillip Life Assurance PLC. </a>
        |
        <a routerLink="privacy">
          <small>
            <span class="fa fa-lock"></span>
          </small> Privacy Policy</a>
      </span>
    </div>
  </footer>
</div>