<div class="container">
    <div class="row mt-5">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="text-danger text-center">
              <img src="assets/images/warning.gif" style="width:80px;" class="mt-5 mb-5">
              <h4>
                <span class="text-danger">
                  You don't have permission to access this page or your session has expired.
                  <!-- <br/> Please click 'Back' button to go to previous page. -->
                </span>
              </h4>
              <br>
              <h4 class="mb-5">
                <span class="text-danger">
                  คุณไม่มีสิทธิใช้งานเพจนี้ หรือ เซ็สชั่นล็อกอินของคุณหมดอายุ
                  <!-- <br/> กรุณากดปุ่ม 'Back' เพื่อกลับไปยังเพจก่อนหน้า -->
                </span>
              </h4>
              <!-- <button *ngIf="username" type="button" class="btn btn-warning" style="margin-top: 20px" onclick="window.history.back();">
                <span class="fa fa-chevron-left"></span> Back
              </button> -->
  
              <!-- <button type="button" class="btn btn-primary" style="margin-top: 20px; margin-left: 20px;" routerLink="/">
                <span class="fa fa-lock"></span> Login
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>