<div style="background-color:#003366; margin-bottom: 30px;" class="fade-in">
    <a routerLink="/">
        <img src="assets/images/philliplife.png" style="background-color: #003366; margin-left:10%" width="150px;" />
    </a>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="text-danger text-center">
              <img src="assets/images/success.png" style="width:80px;" class="mb-3">
              <h4>
                <span class="text-danger">
                  You have successfully signoff.
                </span>
              </h4>
              <br>
              <h4>
                <span class="text-danger">
                  คุณได้ออกจากระบบเรียบร้อยแล้ว
                </span>
              </h4>
              <button type="button" class="btn btn-warning" style="margin-top: 20px" onclick="window.close();">
                <span class="fa fa-close"></span> Close
              </button>
  
              <!-- <button type="button" class="btn btn-primary" style="margin-top: 20px; margin-left: 20px;" routerLink="/">
                <span class="fa fa-lock"></span> Login
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>